footer
  .container.text-center
    p.pull-left Site créé par BISELX Charles, ESCAMILLA Valentin, PENGUILLY Bertrand
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') Boilerplate Hackathon-starter
