.navbar.navbar-default
  .container 
    img(src="img/beard.png" class="main_logo")
    .title Big Beard Shoes
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        
      a.navbar-brand(href='/')
        
        | Big Beard Shoes
    .collapse.navbar-collapse 


      ul.nav.navbar-nav
        li(class=(title === 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title === 'location') ? 'active' : undefined)
          a(href='/location') Localisation
        li(class=(title === 'Shoes') ? 'active' : undefined)
          a(href='/shoes') Shoes
        li(class=(title === 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
        li
          a(href='/status') Status
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title === 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title === 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li(class=(title === 'Sell shoes') ? 'active' : undefined)
            a(href='/addshoes') Sell Shoes
          li(class=(title === 'Shopping Cart') ? 'active' : undefined)
            a(href='/cart') Shopping Cart
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
          
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
