
block content
  h1 Commande
  p.lead Commande
  hr
.resume
  h3 Liste des résumés de la commande
  hr
.generaliste
  h3 Généralité
  .nom
    label nom 
    input()
  .prenom
    label prénom 
    input()
  .email
    label Adress email 
    input()
  .confemail
    label Confirmation email 
    input()
  hr
.coordonnees
  h3 Coordonnées
  .adresse1
    label adresse 1
    input()
  .adress2
    label adresse 2
    input()
  .postcode
    label code postal
    input()
  .ville 
    label ville 
    input()
  hr
.paiement
  h3 paiement
  .carte
    label carte
    input()
  .date
    label date de validité
    p inserer date
  .crypto
    label cryptogramme
    input()

  hr
