extends layout

block content
  h1 Géo-localisation
  p.lead Localisation du magasin le plus proche
  hr
<<<<<<< HEAD
    
  p( class="button",onclick="zip_code()") Zip code
  p( class="button",onclick="getLocation()") Localise me
=======
  .center
    p( class="button") Zip code
    p( class="button",onclick="getLocation()") Localise me
>>>>>>> 87e70aa54b636914508980cebf3249e23420382e
  div(id="ggmaps_map", style="width:94%; height:500px; margin: auto;")
  
  hr
